@using WordCounter.Models;
@using System;
@{
  Layout= "_layout";
}


@if (Model.CheckEmpty(@Model.GetUserWord(),@Model.GetUserSentence()))
{
  <h1>@Model.GetEmptyMessage()</h1><br>
  <p><img src="img/liam.gif" alt="Picture of the number 0" height="360px"></p>
  <h3>Or, I'll call Liam ! </h3>
}
else if (@Model.CheckNumberOccurence(@Model.GetUserWord(),@Model.GetUserSentence())== 0)
{
  <h1>Your word " @Model.GetUserWord() ",  </h1>
  <h1>doesn't appear in your sentence ; </h1>
  <h1>"@Model.GetUserSentence()"!!</h1><br>
  <p><img src="img/0.jpeg" alt="Picture of the number 0" height="360px"></p>
}
else if (@Model.CheckNumberOccurence(@Model.GetUserWord(),@Model.GetUserSentence()) <2)
{
  <h1>Your word "@Model.GetUserWord()"</h1>
  <h1>appears just @Model.CheckNumberOccurence(@Model.GetUserWord(),@Model.GetUserSentence()) time in your sentence</h1>
  <h1>"@Model.GetUserSentence()"!!</h1><br>
  <p><img src="img/1.gif" alt="Picture of the number 1" height="360px"></p>
}
else
{
  <h1>Your word @Model.GetUserWord() appears @Model.CheckNumberOccurence(@Model.GetUserWord(),@Model.GetUserSentence()) times in your sentence @Model.GetUserSentence() !!</h1><br><br>

  <p>
  <img src="/img/y.gif" alt="Picture of y" height="75px">
  <img src="/img/o.gif" alt="Picture of o" height="75px">
  <img src="/img/u.gif" alt="Picture of u" height="75px">
  </p>

  <p>
  <img src="/img/h.gif" alt="Picture of h" height="75px">
  <img src="/img/a.gif" alt="Picture of a" height="75px">
  <img src="/img/v.gif" alt="Picture of v" height="75px">
  <img src="/img/e.gif" alt="Picture of e" height="75px">
  </p>

  <p>
  <img src="/img/m.gif" alt="Picture of m">
  <img src="/img/o.gif" alt="Picture of o" height="75px">
  <img src="/img/r.gif" alt="Picture of r" height="75px">
  <img src="/img/e.gif" alt="Picture of e" height="75px">
  </p>

  <p>
  <img src="/img/t.gif" alt="Picture of t" height="75px">
  <img src="/img/h.gif" alt="Picture of h" height="75px">
  <img src="/img/a.gif" alt="Picture of a" height="75px">
  <img src="/img/n.gif" alt="Picture of n" height="75px"></p>

  <p>
  <img src="/img/o.gif" alt="Picture of o" height="75px">
  <img src="/img/n.gif" alt="Picture of n" height="75px">
  <img src="/img/e.gif" alt="Picture of e" height="75px">
  </p>

  <p>
  <img src="/img/o.gif" alt="Picture of o" height="75px">
  <img src="/img/c.gif" alt="Picture of c" height="75px">
  <img src="/img/c.gif" alt="Picture of c" height="75px">
  <img src="/img/u.gif" alt="Picture of u" height="75px">
  <img src="/img/r.gif" alt="Picture of r" height="75px">
  <img src="/img/r.gif" alt="Picture of r" height="75px">
  <img src="/img/e.gif" alt="Picture of e" height="75px">
  <img src="/img/n.gif" alt="Picture of n" height="75px">
  <img src="/img/c.gif" alt="Picture of c" height="75px">
  <img src="/img/e.gif" alt="Picture of e" height="75px">
  <img src="/img/!.gif" alt="Picture of !" height="70px">
  </p>

  <p>
  <img src="/img/y.gif" alt="Picture of y">
  <img src="/img/e.gif" alt="Picture of e">
  <img src="/img/a.gif" alt="Picture of a">
  <img src="/img/h.gif" alt="Picture of h">
  <img src="/img/!.gif" alt="Picture of !">
  </p><br><br>
}

<br><br><h1><a href='/wordcounters/@Model.GetId()/list'>List of your WordCounter Game</a></h1>


<br><br><form action="/wordcounters/new" method="get">
  <h1><button class="second" type="submit" name="newGame">NEW GAME</button></h1>
</form>
<form action="/" method="get">
<h1>  <button class="second" type="submit" name="HomePage=">HOME PAGE</button></h1>
</form>
